.container {
    text-align: center;
    width:100%;
    height:auto;
    padding-top:130px;
    margin: auto;
 }

 .logo {
     margin-top:66px;
     border: 1px;

 }

 input {
     width:400px;
     height:30px;
     margin-bottom:15px;

 }

 button {
    background-color:#f2f2f2;
    border:none;
    padding:10px;
    margin:10px;
    color:#757575;
    font-size:10pt;
    font-weight:bold;
    font-family:arial;
    border-radius: 2px;
  }

  .footer a{
      color:#757575;
      padding:5px;
      font-size:10pt;
  }

  
  .footer {
    background:#f2f2f2;
    font-family:arial;
    font-color:#757575;
    padding:5px;
    bottom:0;
    position:fixed;
    width:100%;
    left:-5px;
  }

  .footer-left {
      float:left;
  }

  .footer-right {
      float:right;
  }